<script type="text/template" id="template_G2_excel">
	<article name="G2_popup_excel_temp">
		<table>
		<colgroup>
			<col width="100">
			<col>	
		</colgroup>
		<tbody>
			<tr>
				<th>First Line</th>
				<td><input style="width:90%!important;display:inline-block;text-align:right" type="text" name="g2ExcelFirstLine" placeholder="First Line Input" /></td>	
			</tr>
			<tr>
				<th>Last Line</th>
				<td><input style="width:90%!important;display:inline-block;text-align:right" type="text" name="g2ExcelLastLine" placeholder="First Line Input" /></td>	
			</tr>
		</tbody>
		</table>
	</article>
</script>